.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  display: inline;
  text-decoration: none;
  color: black;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

html {
  font-size: 62.5%;
}

.button-principal {
  padding: 0.5rem 1rem;
  border: 1px solid white;
}
.button-principal a {
  text-transform: capitalize;
}

body {
  font-family: "Roboto", monospace;
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.border {
  border: 1px solid red;
}

header {
  width: 100%;
  height: 18vh;
  display: grid;
  grid-template-rows: 1fr 2fr;
}
header .header-icons-container {
  width: 100%;
  background-color: #47cfac;
}
header .header-icons-container .icons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .header-icons-container .icons a {
  padding: 1rem;
}
header .header-icons-container .icons a span {
  color: white;
  font-size: 24px;
}
header .header-nav-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
header .header-nav-container .nav-logo-container a img {
  width: 22rem;
}
header .header-nav-container .nav-profile-link {
  padding-right: 2rem;
  justify-self: flex-end;
}
header .header-nav-container .nav-profile-link a {
  font-size: 1.6rem;
  color: black;
  text-decoration: underline;
  font-weight: bolder;
}

.home-main {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  height: 82vh;
  background-image: url("../assets/imgs/Cover.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.home-main .home-section {
  grid-column: 2/3;
  justify-self: center;
  align-self: center;
  display: grid;
  height: 60%;
  grid-template-rows: 1fr 1fr;
}
.home-main .home-section .home-section_paragrap {
  justify-self: center;
  align-self: flex-start;
}
.home-main .home-section .home-section_paragrap .home-section_paragrap-text {
  font-size: 3rem;
  color: white;
  letter-spacing: 1rem;
  text-align: center;
  font-family: "roboto", monospace;
}
.home-main .home-section .home-section_button {
  justify-self: center;
  align-self: flex-end;
  width: 100px;
  height: 50px;
  background-color: aquamarine;
}

.news-section {
  background-color: gray;
}
.news-section .news_container {
  display: grid;
  padding: 1rem 1rem 4rem 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px auto auto;
  grid-template-areas: "titulo titulo" "image description" "image description";
  grid-area: description;
}
.news-section .news_container .news_title {
  grid-area: titulo;
  font-family: "roboto-slab", monospace;
  font-size: 2.4rem;
  align-self: center;
}
.news-section .news_container .news_image {
  grid-area: image;
  width: 90%;
  min-height: 300px;
  background: url("../assets/imgs/main-news-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.news-section .news_container .news_description .description_title {
  font-family: "roboto-slab", monospace;
  font-size: 3.2rem;
  padding-bottom: 2rem;
}
.news-section .news_container .news_description .description_paragraph {
  font-family: "roboto-slab", monospace;
  font-size: 1.4rem;
  padding-bottom: 2rem;
}
.news-section .news_container .news_description .description_button {
  border: 1px solid aquamarine;
}
.news-section .news_container .news_description .description_button:hover {
  background-color: aquamarine;
}

.blogs-section .blogs_title {
  text-align: center;
  padding: 2rem 0;
  font-size: 1.8rem;
  font-weight: bolder;
  font-family: "roboto-slab", monospace;
}
.blogs-section .blogs_container {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.card {
  padding: 1rem;
}
.card .card_image img {
  width: 100%;
}
.card .card_title {
  padding: 1rem 0;
  font-size: 1.4rem;
  font-family: "roboto-slab", monospace;
}
.card .card_sinapsis {
  padding: 1rem 0;
  font-size: 1.4rem;
  font-family: "roboto-slab", monospace;
  font-weight: 700;
}
.card .card_button {
  font-family: "roboto-slab", monospace;
  padding: 1rem;
  font-weight: bold;
  text-transform: capitalize;
  border: 1px solid aquamarine;
}
.card .card_button:hover {
  background-color: aquamarine;
  color: white;
}

.blogpost {
  width: 100%;
}
.blogpost .blogpost_image {
  text-align: center;
  padding: 0rem 3rem;
}
.blogpost .blogpost_image img {
  width: 100%;
}
.blogpost .blogpost_main {
  padding: 5rem 12rem;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  gap: 2rem;
}
.blogpost .blogpost_main .blogpost_main--title {
  margin: 2rem 0;
  font-family: "roboto-slab", monospace;
  font-size: 4.8rem;
}
.blogpost .blogpost_main .blogpost_main--subtitle {
  font-family: "roboto-slab", monospace;
  font-size: 1.96rem;
}
.blogpost .blogpost_main .blogpost_main--paragraph {
  font-family: "roboto-slab", monospace;
  font-size: 1.4rem;
  text-align: justify;
  line-height: 1.8rem;
}

.contact {
  width: 100%;
  height: 300px;
  background-color: rgb(211, 211, 211);
  display: grid;
  grid-template-columns: repeat(2, 400px);
  grid-template-rows: auto;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}
.contact .contact_item {
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  align-items: center;
}
.contact .contact_item .contact_item--img {
  width: 100%;
}
.contact .contact_item .contact_item--img img {
  width: 90%;
}
.contact .contact_item .contact_item--description {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 0.5fr 1fr;
}
.contact .contact_item .contact_item--description .description_title {
  grid-row: 2/3;
  font-family: "roboto-slab", monospace;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  /* Adjusts the thickness of the underline */
  text-underline-offset: 6px;
}
.contact .contact_item .contact_item--description .description_paragraph {
  grid-row: 3/4;
  font-family: "roboto-slab", monospace;
  text-align: justify;
  font-size: 1.4rem;
}

.section_profile {
  width: 100%;
  height: 45vh;
  background-color: rgb(211, 211, 211);
  display: grid;
  grid-template-columns: 300px 600px;
  grid-template-rows: 180px;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.section_profile .profile_picture {
  width: 100%;
}
.section_profile .profile_picture .profile_picture--img {
  width: 100%;
}
.section_profile .profile_description {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}
.section_profile .profile_description .profile_description--title {
  font-family: "roboto-slab", monospace;
  font-size: 2.4rem;
  font-weight: bolder;
}
.section_profile .profile_description .profile_description--paragraph {
  font-family: "roboto-slab", monospace;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: justify;
}

.section_projects {
  width: 100%;
}
.section_projects .container_projects .projects_title {
  width: 80%;
  margin: 0 auto;
  padding: 3rem 0;
  text-align: center;
  font-family: "roboto-slab", monospace;
  font-size: 1.92rem;
  border-bottom: 1px solid rgb(211, 211, 211);
}
.section_projects .container_projects .projects_articles {
  width: 80%;
  margin: 0 auto;
  padding: 4rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 5rem;
}
.section_projects .container_projects .projects_articles .article_project .article_project--title {
  font-family: "roboto-slab", monospace;
  font-size: 1.4rem;
}
.section_projects .container_projects .projects_articles .article_project .article_project--description {
  margin-top: 2rem;
  font-family: "roboto-slab", monospace;
  font-size: 1.26rem;
}

footer {
  width: 100%;
  height: 7vh;
  background-color: #47cfac;
}

/*# sourceMappingURL=main.css.map */
