.blogpost {
    width: 100%;

    .blogpost_image {
        text-align: center;

        img {
            width: 100%;
        }
    }

    .blogpost_main {
        padding: 5rem 2rem;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        gap: 2rem;

        .blogpost_main--title {
            margin: 2rem 0;
            font-family: 'roboto-slab', monospace;
            font-size: $font-size--title*2;
        }

        .blogpost_main--subtitle {
            font-family: 'roboto-slab', monospace;
            font-size: $font-size--subtitle*1.4;

        }

        .blogpost_main--paragraph {
            font-family: 'roboto-slab', monospace;
            font-size: $font-size--paragraph;
            text-align: justify;
            line-height: 1.8rem;

        }
    }


}