.contact {
    width: 100%;
    height: 300px;
    background-color: rgb(211, 211, 211);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10rem;
    grid-template-rows: auto;
    align-items: center;
    align-content: center;
    justify-content: space-around;

    .contact_item {
        width: 100%;
        height: 100%;
        cursor: pointer;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
        align-items: center;

        .contact_item--img {
            height: 100%;
            width: 100%;

            img {
                width: 90%;
            }
        }

        .contact_item--description {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 1fr 0.5fr 1fr;

            .description_title {
                grid-row: 2/3;
                font-family: $font-family--main;
                text-decoration: underline;
                text-decoration-thickness: 1.5px;
                /* Adjusts the thickness of the underline */
                text-underline-offset: 6px;
            }

            .description_paragraph {
                grid-row: 3/4;
                font-family: $font-family--main;
                text-align: justify;
                font-size: $font-size--paragraph;
            }
        }
    }
}

@media screen and (max-width:1024px) {
    .contact {
        height: auto;
        padding: 6rem 2rem;
    }
}

@media screen and (max-width:768px) {
    .contact {
        padding: 6rem 2rem;
        gap: 4rem;
        display: grid;
        grid-template-columns: minmax(340px, 400px);
        grid-template-rows: 1fr 1fr;

        .contact_item {
            .contact_item--img {
                width: 100%;
            }

            .contact_item--description {
                grid-template-rows: 0.3fr 0.7fr;

                .description_title {
                    grid-row: 1/2;
                    align-self: self-end;
                }

                .description_paragraph {
                    grid-row: 2/3;
                    align-self: center;
                }
            }
        }
    }
}

@media screen and (max-width:425px) {
    .contact {
        padding: 3rem 2rem;
        gap: 4rem;

    }
}

@media screen and (max-width:375px) {}

@media screen and (max-width:320px) {}