.news-section {
    background-color: gray;

    .news_container {
        display: grid;
        padding: 1rem 1rem 4rem 1rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px auto auto;
        grid-template-areas:
            "titulo titulo"
            "image description"
            "image description";

        grid-area: description;

        .news_title {
            grid-area: titulo;
            font-family: 'roboto-slab', monospace;
            font-size: 2.4rem;
            align-self: center;
        }

        .news_image {
            grid-area: image;
            width: 90%;
            min-height: 300px;
            background: url('../assets/imgs/main-news-img.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .news_description {

            .description_title {
                font-family: 'roboto-slab', monospace;

                font-size: 3.2rem;
                padding-bottom: 2rem;
            }

            .description_paragraph {
                font-family: 'roboto-slab', monospace;
                font-size: 1.4rem;
                padding-bottom: 2rem;

            }

            .description_button {
                border: 1px solid aquamarine;

                &:hover {
                    background-color: aquamarine;
                }
            }
        }


    }
}

.blogs-section {
    .blogs_title {
        text-align: center;
        padding: 2rem 0;
        font-size: 1.8rem;
        font-weight: bolder;
        font-family: 'roboto-slab', monospace;
    }

    .blogs_container {
        padding: 1rem 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
}

.card {
    padding: 1rem;

    .card_image {
        img {
            width: 100%;
        }
    }

    .card_title {
        padding: 1rem 0;
        font-size: 1.4rem;
        font-family: 'roboto-slab', monospace;
    }

    .card_sinapsis {
        padding: 1rem 0;
        font-size: 1.4rem;
        font-family: 'roboto-slab', monospace;
        font-weight: 700;
    }

    .card_button {
        font-family: 'roboto-slab', monospace;
        padding: 1rem;
        font-weight: bold;
        text-transform: capitalize;
        border: 1px solid aquamarine;

        &:hover {
            background-color: aquamarine;
            color: white;
        }
    }
}